<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 Progress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- build:css assets/css/vendor.min.css -->
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/con-moto.css" rel="stylesheet">
  <!-- endbuild -->

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/demo.css" rel="stylesheet">

  </head>
  <body>

    {{> nav }}
    <div class='container'>
      {{> body }}
    </div>
    {{> footer }}

    <!-- build:js assets/js/vendor.min.js -->
      <script src="vendor/jquery/dist/jquery.js"></script>
      <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
      <script src="vendor/d3/d3.js"></script>
      <script src="assets/js/typekit.js"></script>
    <!-- endbuild -->

    <script src="assets/js/d3-progress.js"></script>
    <script src="assets/js/demo.js"></script>

  </body>
</html>