<footer id="footer" role="contentinfo">
  <div class="bottom-menu bottom-menu-large bottom-menu-inverse">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5 class="title">ABOUT THIS PROTOTYPE</h5>
          <ul class="bottom-links">
            <li><a href="#fakelink">What is a prototype?</a></li>
            <li><a href="#fakelink">Chat right now</a></li>
            <li><a href="#fakelink">Provide feedback right now</a></li>
            <li><a href="#fakelink">Get help right now</a></li>
          </ul>
        </div>

        <div class="col-sm-4">
          <h5 class="title">ABOUT CON MOTO</h5>
          <ul class="bottom-links">
            <li><a href="#fakelink">Blazingly fast application prototypes</a></li>
            <li><a href="#fakelink">Platform launch</a></li>
            <li><a href="#fakelink">Technical advisory</a></li>
            <li><a href="#fakelink">Doing good in the world</a></li>
          </ul>
        </div>

        <div class="col-sm-5">
          <h5 class="title">DAY 12. PROTOTYPE VERSION 6.1.0</h5>
          <ul class="bottom-links">
            <li>Con Moto, LLC. © 2014. All rights reserved.</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>