<div class='row'>
  <div class='col-xs-12'>
    <h1>
      A simple, reusable progress component
      <p class='lead'>
        For those times when a horizontal progress meter just won't cut it.
      </p>
    </h1>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6'>
    <div class='well'>
      <div id="loader"></div>
      <button class='btn btn-primary btn-block' onclick="resetMeter();">
        Reset the progress meter
      </button>
    </div>
    <div id="alert"></div>
  </div>
  <div class='col-xs-6'>
    {{{md 'docs/content/demo-coffee.md' }}}
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    {{{md 'docs/content/api.md' }}}
  </div>
</div>